body{
    /* background-color: beige; */
    font-family: 'Inconsolata', monospace;
    margin: 0;
    
}
.imageBg{
    background:url("dangerous-sports-for-high-school-and-college-students-og.png") no-repeat center ;
    min-height: 100%;
    min-width: 1024px;
	
    /* Set up proportionate scaling */
    /* width: 100%;
    height: auto; */
	
    /* Set up positioning */
    position: fixed;
    top: 0;
    left: 0;
    z-index: -999;
}
.imageBgF1{
    background:url("sss.png") no-repeat center ;
    background-size: cover ;
    /* opacity: 0.5; */
    min-height: 100%;
    min-width: 1024px;
	
    /* Set up proportionate scaling */
    width: 100%;
    height: auto;
	
    /* Set up positioning */
    position: fixed;
    top: 0;
    left: 0;
    z-index: -999;

}
.textAlign{
    text-align: center;
  
}
ul li{ 
    list-style: none;
}
header{
    background-color: black;
    width: 100%;
    height: 60px;
    position: absolute;
    top: 0;    
}
.headingF{
    margin-top: 90px;
}
.flex{
    display: flex;
    justify-content: space-around;
    align-items: center;
    
}
.indexInfoContainerB{
    /* margin-left: auto; */
    width: 80%;

    /* margin-right: auto; */
 } 

.indexInfoContainer{
    display: inline-block;
    padding-left: auto;
    padding-right: auto;
 } 
.qq{
    line-height: 2;
    padding-left: 80px;
    padding-right: 80px;
    text-align: center;

}
.mainLinkDiv{
    display: flex;
    justify-content: space-around;
    margin-top: 150px;
}
.mainLink{
    color: black;
    padding: 10px;
    border-radius: 10px;
}

.h2{
    /* display: inline; */
    text-align: center; 
    width: 70%;   
    
}
.contentIndex h2{
    margin-left: auto;
    margin-right: auto;
}
.contentF1{
    margin-top: 40px;
    margin-bottom: 40px;
    text-decoration: underline;
    
}

.linkColor{
    text-decoration: none;
    color: antiquewhite;
    font-size: larger;
    transition: all 0.5s linear;
}
.linkColor:hover{
    transform: scale(1.4, 1.4);
}

.linkColor{
    color: bisque;
}
#footer {
  /* position: absolute; */
  bottom: 0;
  width: 100%;
  height: 2.9rem;  
  text-align: center;
  margin-top: 40px; 
  background-color: black ;  
  color: antiquewhite; 
  align-self: center;    
  padding-top: 7px;  
}
.footerIndex{
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 2.9rem;  
  text-align: center;
  margin-top: 40px; 
  background-color: black ;  
  color: antiquewhite; 
  align-self: center;    
  padding-top: 7px;    
}
.formCenter{
    display: flex;
    justify-content: center;
    margin-top: 100px;
}

.teamFlex{
    text-align: center;
}
/* .docButton{
    margin: auto;
    width: 50%;
    margin-top: 80px;
} */